<h1>Sugar Mint</h1>

<p>
  <%= link_to "Sign in with Foursquare", user_omniauth_authorize_path(:foursquare) %>
</p>
<p>
  <%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
</p>

