<div class="row">
  <div class="span10"><div id="bgGraph"></div></div>
  <div class="span2">
    <div>Select Dates</div>
    <div>From: </div>
    <div id="fromDate"></div>
    <div>To: </div>
    <div id="toDate"></div>
  </div>
</div>