<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><a href="http://www.ashishvirmani.com/">Sugar Challenged</a></li>
      <li><a href="http://www.jdrg.org/">JDRF</a></li>
    </ul>
  </nav>
</footer>